Darl_standard/Darl.Thinkbase/graphml-structure.xsd

<xs:schema xmlns="http://graphml.graphdrawing.org/xmlns" xmlns:g="http://graphml.graphdrawing.org/xmlns" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://graphml.graphdrawing.org/xmlns" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> The schema corresponding to this document defines the structural layer of the Graph Markup Language (GraphML). Although a DTD is provided, this schema is, together with its extensions http://graphml.graphdrawing.org/xmlns/1.0/graphml-attributes.xsd and http://graphml.graphdrawing.org/xmlns/1.0/graphml-parseinfo.xsd, the only normative reference. </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://graphml.graphdrawing.org/xmlns/1.0/xlink.xsd">
    <xs:annotation>
      <xs:documentation source="???" xml:lang="en"> Get access to the xlink attribute groups for the attributes xlink:href and xlink:type of locator.type. </xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      </xs:documentation>
  </xs:annotation>
  <xs:attributeGroup name="common.extra.attrib"/>
  <xs:attributeGroup name="graphml.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="data.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="key.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="default.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graph.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="node.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="edge.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="port.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="hyperedge.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="endpoint.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="locator.extra.attrib">
    <xs:attributeGroup ref="common.extra.attrib"/>
  </xs:attributeGroup>
  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
</xs:documentation>
  </xs:annotation>
  <xs:complexType name="data-extension.type" mixed="true">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="data.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="true">
      <xs:extension base="data-extension.type">
        <xs:attribute name="key" type="xs:NMTOKEN" use="required">
          <xs:annotation>
            <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:NMTOKEN" use="optional">
          <xs:annotation>
            <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
               </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="data.extra.attrib">
          <xs:annotation>
            <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
              </xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="default.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
       </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="true">
      <xs:extension base="data-extension.type">
        <xs:attributeGroup ref="default.extra.attrib">
          <xs:annotation>
            <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
              </xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="key.for.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="all"/>
      <xs:enumeration value="graphml"/>
      <xs:enumeration value="graph"/>
      <xs:enumeration value="node"/>
      <xs:enumeration value="edge"/>
      <xs:enumeration value="hyperedge"/>
      <xs:enumeration value="port"/>
      <xs:enumeration value="endpoint"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="key.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:element ref="default" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="for" type="key.for.type" default="all">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> describes the domain of definition for the corresponding graph attribute. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="key.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="graphml.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="graph"/>
          <xs:element ref="data"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
    <xs:attributeGroup ref="graphml.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:simpleType name="graph.edgedefault.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="directed"/>
      <xs:enumeration value="undirected"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="graph.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:choice>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="data"/>
            <xs:element ref="node"/>
            <xs:element ref="edge"/>
            <xs:element ref="hyperedge"/>
          </xs:choice>
        </xs:sequence>
        <xs:element ref="locator"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="graph.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> identifies this graph . </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="edgedefault" type="graph.edgedefault.type" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="node.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:choice>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="data"/>
            <xs:element ref="port"/>
          </xs:choice>
          <xs:element ref="graph" minOccurs="0"/>
        </xs:sequence>
        <xs:element ref="locator"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="node.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> identifies this node. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="port.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="data"/>
        <xs:element ref="port"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="port.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> identifies this port, within the node it is contained in. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="edge.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:element ref="data" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="graph" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="edge.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> identifies this edge . </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="directed" type="xs:boolean">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="source" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceport" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetport" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="hyperedge.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="data"/>
        <xs:element ref="endpoint"/>
      </xs:choice>
      <xs:element ref="graph" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="hyperedge.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="endpoint.type.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="in"/>
      <xs:enumeration value="out"/>
      <xs:enumeration value="undir"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="endpoint.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="desc" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="endpoint.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="port" type="xs:NMTOKEN">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> points to the name of the port, to which this endpoint is connected . </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="node" type="xs:NMTOKEN" use="required">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> points to the id of the node, to which this endpoint is connected. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="endpoint.type.type" default="undir">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en"> defines the direction on this endpoint (undirected per default). </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="locator.type" final="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="locator.extra.attrib">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <!-- ======================================================== -->
  <xs:element name="desc" type="xs:string" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
   </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="locator" type="locator.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="data" type="data.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
    <xs:unique name="data_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
  </xs:element>
  <xs:element name="key" type="key.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
     </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="default" type="default.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="graphml" type="graphml.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
    <xs:unique name="graphml_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
    <xs:key name="key_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:key"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:unique name="graph_id_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:graph"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:keyref name="data_key_ref" refer="key_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:data"/>
      <xs:field xpath="@key"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="graph" type="graph.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
    <xs:unique name="graph_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
    <xs:key name="node_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:node"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:unique name="edge_id_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:edge"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:unique name="hyperedge_id_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:hyperedge"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:unique name="endpoint_id_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:endpoint"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:keyref name="edge_source_ref" refer="node_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:edge"/>
      <xs:field xpath="@source"/>
    </xs:keyref>
    <xs:keyref name="edge_target_ref" refer="node_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
           </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:edge"/>
      <xs:field xpath="@target"/>
    </xs:keyref>
    <xs:keyref name="endpoint_node_ref" refer="node_id_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:endpoint"/>
      <xs:field xpath="@node"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="node" type="node.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
         </xs:documentation>
    </xs:annotation>
    <xs:key name="port_name_key">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//g:port"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:unique name="node_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
  </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
  </xs:element>
  <xs:element name="port" type="port.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:unique name="port_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
  </xs:element>
  <xs:element name="edge" type="edge.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
    </xs:annotation>
    <xs:unique name="edge_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
 </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
  </xs:element>
  <xs:element name="hyperedge" type="hyperedge.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
    <xs:unique name="hyperedge_data_key_unique">
      <xs:annotation>
        <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
          </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./g:data"/>
      <xs:field xpath="@key"/>
    </xs:unique>
  </xs:element>
  <xs:element name="endpoint" type="endpoint.type" block="#all">
    <xs:annotation>
      <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
        </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
<!-- ====================================================== -->
<!--       end of file: graphml-structure.xsd               -->
<!-- ====================================================== -->